.word-list {
    max-height: 180;
    overflow-y: auto;
    list-style: none;
    padding: 8px 15px;
    font-size: 18px;

    &__item {
        padding: 2px 0;
    }
}

.add-box {
    margin-top: 30px;
    margin-bottom: 50px;
}

.add-box {
    &__row {
        margin-top: 10px;
    }
}